<%@ page contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
<!DOCTYPE html>
<html>
<head>
    <title>Celsius to Fahrenheit Converter</title>
</head>
<body>
<h1>Temperature Converter Application</h1>
<br/>
<form ACTION = "./TemperatureConverter">
    <p> Enter temperature in Celsius : <label>
        <input TYPE = "TEXT" NAME = "temperature">
    </label></p>
    <input TYPE = "SUBMIT">

</form>
</body>
</html>